:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding:0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Toggle Button */

.dark-mode {
  background-color: #36393F
  ;
}



/****** HOMEPAGE ******/

h1{
  font-family: 'Lobster', sans-serif;
}

.card {
  background: transparent !important;
}

/****** CALCULATOR ******/

.calc_Result{
  font-family: 'Gill Sans' ;
  white-space: nowrap;
  overflow: hidden;
  height: 4rem;
  font-size: 3rem;
  border-radius: 5px;
}

.calc_Buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}
.calcDisp{
  border-radius: 10px;
  background-color: #d4a3731d;
}

.calcBtn_col {
  width: 20%; /* Equal width for all columns */
  padding: 0; /* Remove default padding */
}

.calcBtn_col > button {
  font-family: fantasy;
  width: 75%; /* Button width fills the column */
  aspect-ratio: 1; /* Maintain 1:1 aspect ratio (height equals width) */
  padding: 0; /* Remove button padding */
  margin-bottom: 1rem;
  background-color: #d4a373 !important;
  border: none;
}

.last {
  margin-right: 0; /* No margin for the last button in each row */
}


/***************JSON Page******************/
.json_Card{
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100%;
  min-height: calc(width*1.75) !important;
}

.json_Card > .card-header > p ,
.jsonCardBody > p {
 margin-bottom: 0.5em ;
 text-wrap: nowrap;
 overflow: hidden;
}

.name{
  font-size: 1em !important;
  padding: 0 !important;
}

.userName,
.email {
  font-size: 0.75rem !important;
}

.jsonCardBody > p{
  margin-block: auto !important;
}

.json_Cards{
  background: rgba(230, 230, 235, 0.326);
  border-radius: 10px;
}


/* *********HOBBIES******** */
